<div class="login-page">
    <div class="container">
        <div class="form-box">
            <div class="logo">
                <div class="helper">
                    <a href="/"><img src="/sites/default/files/vmarc-logo-vertical.png" alt="V-Marc"></a>
                </div>
            </div>
            <div class="form">
                {{ page.content }}
            </div>
        </div>
    </div>
</div>